<!-- page extends to template.html -->
{% extends "template.html" %} {% block title %} Gallery {% endblock %}

<!-- gallery page content -->
{% block content %} 
<div class="gallery-container">
    <div class="grid-item">
        <img src="/static/images/SABB-Logo-Red.png">
    </div>
    <div class="grid-item">
        <img src="/static/images/SABB-Logo-White.png">
    </div>
    <div class="grid-item">
        <img src="/static/images/anniversary.jpeg">
    </div>
    <div class="grid-item">
        <img src="/static/images/SABB-15-Year-Anniversary-Concerts.jpeg">
    </div>
    <div class="grid-item">
        <img src="/static/images/SABB-Joyful-Joyful-3rd-Show.png">
    </div>
    <div class="grid-item">
        <img src="/static/images/img1.jpeg">
    </div>
    <div class="grid-item">
        <img src="/static/images/img2.jpeg">
    </div>
    <div class="grid-item">
        <img src="/static/images/img3.JPG">
    </div>
    <div class="grid-item">
        <img src="/static/images/howick.jpeg">
    </div>
    <div class="grid-item">
        <img src="/static/images/home.jpg">
    </div>
</div>




{% endblock %}