<!-- page extends to template.html -->
{% extends "template.html" %} {% block title %} Gallery {% endblock %}

<!-- gallery page content -->
{% block content %}
<div class="gallery-container">
    <div class="grid-item">
        <img src="/static/images/SABB-Logo-Red.png" alt="gallery image">
    </div>
    <div class="grid-item">
        <img src="/static/images/SABB-Logo-White.png" alt="gallery image">
    </div>
    <div class="grid-item">
        <img src="/static/images/anniversary.jpeg" alt="gallery image">
    </div>
    <div class="grid-item">
        <img src="/static/images/SABB-15-Year-Anniversary-Concerts.jpeg" alt="gallery image">
    </div>
    <div class="grid-item">
        <img src="/static/images/SABB-Joyful-Joyful-3rd-Show.png" alt="gallery image">
    </div>
    <div class="grid-item">
        <img src="/static/images/img1.jpeg" alt="gallery image">
    </div>
    <div class="grid-item">
        <img src="/static/images/img2.jpeg" alt="gallery image">
    </div>
    <div class="grid-item">
        <img src="/static/images/img3.JPG" alt="gallery image">
    </div>
    <div class="grid-item">
        <img src="/static/images/howick.jpeg" alt="gallery image">
    </div>
    <div class="grid-item">
        <img src="/static/images/home.jpg" alt="gallery image">
    </div>
</div>




{% endblock %}