<!-- page extends to template.html -->
{% extends "template.html" %} {% block title %} Home {% endblock %}

<!-- home page content -->
{% block content %} 
<!-- banner section -->
<div class="banner-container">
    <h1 class="title-text"></h1> 
    <img src="/static/images/dog.jpg" alt="Placeholder" class="img-background"/>
    <div class="spacer">
        <br/>
        <img src="/static/images/dog.jpg" alt="Placeholder" class="home-banner"/>
        <section class="content">
            <br/>
            <div class="Welcome">
                <h2>[Placeholder]</h2>
            </div>
        </section>
    </div>
</div>
<!-- end banner section -->
<!-- start content section-->
<div class="home-content-container">
    <div class="events">
            <ul>
                <li>Event 1</li>
                <li>Event 2</li>
                <li>Event 3</li>
            </ul>
        </section>
    </div>
</div>
<!-- end content section -->




{% endblock %}


