<!-- page extends to template.html -->
{% extends "template.html" %} {% block title %} Home {% endblock %}

<!-- home page content -->
{% block content %} 
<!-- background -->
<img src="/static/images/#" alt="Placeholder" class="img-background"/>
<!-- end background -->
<!-- banner -->
<div class="banner-container">
    <img src="/static/images/home.jpg" alt="Banner" class="home-banner"/>
    <img src="/static/images/SABB-Logo-White.png" alt="SABB Logo" class="banner-overlay">
</div>
<!-- end banner -->

<!-- Welcome Section -->
<section class="welcome-section">
    <div class="welcome-master-div">
        <br/>
        <div class="welcome-text">
            <h1 class="welcome-title">Welcome</h1>
        </div>
        <div class="welcome-image">

        </div>
    </div>

</section>

<!-- Content Section -->
<div class="content-container home">
    <h3 class="content-text-title home">[Placeholder]</h3>
    <p class="content-text home">[Placeholder]<br/></p>
</div>
<!-- end content section -->

<div class="spacer">
    <br/>
    <br/>
</div>

<!-- Events Section -->
<section class="events-section">
    <br/>
    <div class="events-display">
        <h2 class="events-title">Notices</h2>
        <div class="row">
            <div class="column">
                <a href="/hiatus">
                    <img src="/static/images/hiatus-announcement.png" alt="Hiatus Announcement" class="event-img"/>
                </a>
                <h3 class="content-text-title">Festival Season Hiatus</h3>
            </div>
            <div class="column">
                <a href="/gallery">
                    <img src="/static/images/anniversary.jpeg" alt="15th Anniversary" class="event-img"/>
                </a>
                <h3 class="content-text-title">15th Anniversary!</h3>
            </div>
            <div class="column">
                <a href="https://uxbridge.org.nz/product/joyful-joyful" target="_blank" rel="noopener noreferrer">
                    <img src="/static/images/howick.jpeg" alt="Howick" class="event-img"/>
                </a>
                <h3 class="content-text-title">Joyful Joyful Christmas Concert</h3>
            </div>
        </div>
    </div>
</section>



<!-- end events section -->

{% endblock %}


