<!-- page extends to template.html -->
{% extends "template.html" %} {% block title %} Home {% endblock %}

<!-- home page content -->
{% block content %} 
<!-- banner section -->
<div class="banner-container">
    <h1 class="title-text"></h1> 
    <img src="/static/images/dog.jpg" alt="Placeholder" class="img-background"/>
</div>
<!-- end banner section -->
<div class="spacer">
    <br/>
</div>
<!-- banner -->
<img src="/static/images/dog.jpg" alt="Placeholder" class="home-banner"/>
<!-- end banner -->
<!-- Carousel -->
<section class="carousel">
    <div class="reel">
        <article>
            <a href="#" class="img-featured"><img src="/static/images/dog.jpg" alt="Placeholder" class="carousel-image"/>
            <header>
                <h3><a href="#">[Placeholder]</a></h3>
            </header>
            <p>[Placeholder]</p>
            </a>
        </article>
    </div>

</section>
<!-- end carousel -->
        <!-- Welcome Section -->
        <section class="welcome-section">
            <br/>
            <div class="welcome">
                <h1>[Placeholder]</h1>
            </div>
        </section>
        
        <!-- Content Section -->
        <div class="content-container home">
            <h3 class="content-text-title home">[Placeholder]</h3>
            <p class="content-text home">[Placeholder]</p>
        </div>
        <!-- end content section -->





{% endblock %}


