<!-- page extends to template.html -->
{% extends "template.html" %} {% block title %} Notices {% endblock %}

<!-- gallery page content -->
{% block content %} 
<div class="notices-banner">
    <img src="/static/images/hiatus-announcement.png" alt="notices banner" class="notices-banner"/>
</div>

<div class="notices-text">
    <p class="notices-paragraph">With the upcoming music festival season, the St. Andrew's Big Band will pause our regular rehearsals to focus on the upcoming Auckland Jazz & Blues, Stand Up Stand Out, and KBB Music Festival competitions. 
        <br/>We will return for our annual Christmas concert in December. 
        <br/>Thank you for your understanding.
    </p>
</div>



{% endblock %}